body {
    background-color: #323232;
    color: #f4f7fc;
    display: flex;
    font-size: 13px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calendar {
    background-color: #424242;
    border: 1px solid #f4f7fc22;
    border-radius: 10px;
    max-width: 330px;
    padding: 10px 20px 20px 20px;
    width: fit-content;
    text-align: center;
    position: relative;
    box-shadow: 0 2px 4px #f4f7fc33;
}

.calendar .month {
    padding: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    color: #f4f7fc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.calendar .month h2 {
    padding: 8px;
}

.calendar .month i {
    padding: 8px 0;
    cursor: pointer;
}

.calendar .week, 
.calendar .days {
    padding: 5px 0;
    display: grid;
    grid-template-columns: repeat(7, 0.5fr);
    gap: 5px;
}

.calendar .week {  
    border-bottom: 1px solid #f4f7fc44;
}

.calendar .week span,
.calendar .days .day {
    padding: 10px 7px; 
    color: #f4f7fc;    
    font-size: 0.8rem;
    font-weight: bold;
}

.calendar .days .day {    
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
}

.calendar .days .day:hover {
    color: #f5ac2a;
}

.calendar .days .holiday{
    font-weight: 700;
    color: #f5ac2a;
}

.calendar .days .current {
    background-color: #f5ac2acc;
    color: #323232;
    font-weight: 700;
    border-radius: 3rem;   
}

.calendar .monthly-holidays {
    border-top: 1px solid #f4f7fc44;
    width: 100%;
    padding: 8px 0;
}

.calendar .monthly-holidays span { 
    width: 100%;
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 1.2rem;
    text-align: left;
}

.calendar .monthly-holidays span::before {
    content: "\00263C";
    font-size: 1rem;
    margin-right: 5px;
    color: #f5ac2a;
}