@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture,
svg,
video,
canvas {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
}

input,
button,
textarea,
select {
    font: inherit;
}

:root {
    --background: #f4f7fc;
    --secondary-background: #e3e7ec;
    --background-radial: radial-gradient(circle, #e3e7ec 1%, #f4f7fc 100%);
    --logo: #f5ac2a;
    --foreground: #323232;
    --secondary-foreground: #424242;
    --link: #f5ac2a;
    --link-hover: #f5ac2acc;
    --shadown: #323232cc;
    --warning-bg: #f4f7fc;
    --warning-icon: #d8000c;
    --button: #f5ac2a;
    --button-hover: #f5ac2acc;
    --button-google: #ff4b4b;
    --button-facebook: #1877f2;
    --button-apple: #000000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #323232;
        --secondary-background: #424242;
        --background-radial: radial-gradient(circle, #424242 1%, #323232 100%);        
        --foreground: #f4f7fc;
        --secondary-foreground: #e4e4e4;
        --shadown: #f4f7fc33;
        --warning-bg: #323232;        
    }
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

body,
html {
    min-height: 100dvh;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background);    
    color: var(--foreground);
    display: flex; 
    justify-content: center;
    align-items: center;   
}

.calendar {
    background-color: var(--secondary-background);
    border: 1px solid var(--shadown);
    border-radius: 10px;
    max-width: 330px;
    padding: 10px 20px 20px 20px;
    width: fit-content;
    text-align: center;
    box-shadow: 0 2px 4px var(--shadown);
}

.calendar .month {
    padding: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--foreground);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.calendar .month h2 {
    padding: 8px 0;
}

.calendar .month .icon {
    font-size: 0.8rem;
    padding: 8px 0;
    cursor: pointer;
}

.calendar .week, 
.calendar .days {
    padding: 5px 0;
    display: grid;
    grid-template-columns: repeat(7, 0.5fr);
    gap: 5px;
}

.calendar .week {  
    border-bottom: 1px solid var(--shadown);
}

.calendar .week span,
.calendar .days .day {
    padding: 10px 7px; 
    color: var(--foreground);    
    font-size: 0.8rem;
    font-weight: bold;
}

.calendar .days .day {    
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
}

.calendar .days .day:hover {
    color: var(--button-hover);
}

.calendar .days .holiday{
    font-weight: 700;
    color: var(--button);
}

.calendar .days .current {
    background-color: var(--button-hover);
    color: var(--foreground);
    font-weight: 700;
    border-radius: 3rem;   
}

.calendar .monthly-holidays {
    border-top: 1px solid var(--shadown);
    width: 100%;
    padding: 8px 0;
}

.calendar .monthly-holidays span { 
    width: 100%;
    display: inline-block;
    color: var(--foreground);
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.2rem;
    text-align: left;
}

.calendar .monthly-holidays span::before {
    content: "\00263C";
    font-size: 1rem;
    margin-right: 5px;
    color: var(--button);
}